body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #7494EA;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 4px;
    background-color: #F5C396;
    border: 8px solid #494947;
    border-radius: 24px;
    padding: 32px;
}

#score {
    font-weight: bolder;
    font-size: 48px;
}

#player-score {
    color: #79B791;
}

#computer-score {
    color: #D7263D;
}

#matchup {
    margin-top: 8px;
}